@model IEnumerable<StudentTutoringApplication.Models.Tutor>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Student Dashboard</h2>
<!-- <p>Good luck in your coding! -ryan</p>
    -->
    <form asp-action="Search" method="get">
        <select type="text" name="subject" placeholder="Please enter a subjects name.">
            <!-- 
        foreach ()
        {
            
        }
        -->
    </select>
        <button type="submit">Search</button>
    </form>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Subjects</th>
            <th>Availability</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FirstName @user.LastName</td>
                <td>@user.SubjectId</td>
                <td> <b>@(@user.AvailableDate?.ToString("yyyy-MM-dd") ?? "")</b> <br> <i>@user.AvailableTime</i> </td>
                <td><a asp-action="BookAppointment" asp-route-id="@user.TutorId">Book</a></td>
            </tr>
        }
    </tbody>
</table>